.footer-icon{
    list-style: none;
    text-decoration: none;

   
}

body{
    height: 100vh;
    margin: 0;
    padding: 0;
 
}

#div-footer ul li img{
    width: 32px;
height: 32px;
}

.footer-icon:hover{  
    transform: translateY(-40px);
    border-radius: 50px;
    background-color: white;
    height:75px ;
    width: 75px;
}

.div-rechercher{
    height: 60px;
    width: 100%;

}

input{
    width: 90%;
    margin: auto;
    height: 50px;
    border-radius: 50px;
    border-color: black;
    position: absolute;
 top: 20px;


}

.active-icon{
    transform: translateY(40px);
    border-radius: 50px;
    background-color: white;
}

#div-footer{
position: fixed;
bottom: 0;
background-color: aquamarine;
width: 95%;
height: 70px;
border-radius: 30px;
display: flex;
}

*{
    border: 1px solid red;
}

#div-footer ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: auto;
padding: 0;
    width: 100%;
 
}

#div-footer ul li{
display: flex;

}

