#welcome-explaination-steps{
    border: 1px solid red;
    width: 90%;
    margin: auto ;
    position: absolute;
    top: 30%;

}


@font-face {
    font-family: dinpro;
    src: url(/Fonts/dinpro/dinpro.otf);
}

@font-face {
    font-family: dinpro-bold;
    src: url(/Fonts/dinpro/dinpro_bold.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sigmar&display=swap');


.welcome-explaination-step{
    display: flex;
flex-wrap: wrap;
    position: relative;
    
}


.img-explaination-steps{
    height: 260px;
    border: 1px solid blueviolet;
    margin: auto;


}

h1{
    font-size: 24px;
    font-family: dinpro-bold;
    text-align:center ;
    color: #ff7205;
    margin: 10px  auto;
}

p{
    font-family: dinpro;
    font-size: 18px;
    text-align: center;
}

#btn-suivant-wrapper{
    width: 100%;
    display: flex;
}

.suivant-btn{
    color: #ff7205;
    background-color: #FFD5B4;
    padding:15px 60px ;
    border-radius: 27px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    margin: auto;


 
}
.slider-explaination-step{
    width: 100px;
    height: 10px;
    background-color: #ff7205;
    margin: 20px auto;
  

}

