#welcome-explaination-steps{

    width: 90%;
    margin: auto ;
    position: absolute;
    top: 20%;

}



@font-face {
    font-family: dinpro;
    src: url(/Fonts/dinpro/dinpro.otf);
}

@font-face {
    font-family: dinpro-bold;
    src: url(/Fonts/dinpro/dinpro_bold.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sigmar&display=swap');


.welcome-explaination-step{
    display: flex;
flex-wrap: wrap;
    position: relative;
    
}


.img-explaination-steps{
    height: 260px;

    margin: 30px auto;


}

#previous-btn {
    color: black;
    text-decoration: none;
    margin: 30px 20px;
}

h1{
    font-size: 24px;
    font-family: dinpro-bold;
    text-align:center ;
    color: #ff7205;
    margin: 10px  auto;
}

p{
    font-family: dinpro;
    font-size: 18px;
    text-align: center;
    width: 80%;
    margin: 20px auto;
}

#btn-suivant-wrapper{
    width: 100%;
    display: flex;
}

.suivant-btn{
    color: #ff7205;
    background-color: #FFD5B4;
    padding:15px 60px ;
    border-radius: 27px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    margin: auto;


 
}

button {
border-width: 0px ;
}
.slider-explaination-steps{
    width: 90px;
    height: 10px;

    margin: 40px auto;
    display: flex;
  

}

.slider-explaination-step{
    width: 14px;
    height: 10px;
    background-color: #FFD5B4;
    border: 0px;
margin: auto;
border-radius: 40%;
}

.current-step{
    width: 30px ;
    background-color: #ff7205;
    border-radius: 20px;
}

